<!-- FOOTER -->

<footer class="w-full py-1 px-4 sm:px-8 bg-neutral-100 dark:bg-neutral-700 border-t border-neutral-200 dark:border-neutral-600">
    <div class="container m-auto flex justify-between items-center">
        <p class="font-barlow text-sm text-neutral-700 dark:text-neutral-200">© {% year %} EWE s.r.o., Všechna práva vyhrazena</p>
        <a class="flex items-center gap-1 text-neutral-700 dark:text-neutral-200 hover:text-primary dark:hover:text-primary" href="https://mobility.ewe.cz" target="_blank">
            <span class="material-icons-round !text-lg">language</span>
            <span class="font-barlow text-sm">mobility.ewe.cz</span>
        </a>
    </div>
</footer>