<!-- NAVIGATION -->

<header class="w-full px-8 py-6 bg-white dark:bg-black border-b border-neutral-200 dark:border-neutral-600 z-30">
  <div class="flex justify-between items-center min-h-6">
    <!-- MOBILE SIDEBAR BUTTON -->
    <button class="sidebar-toggle material-icons-round lg:hidden text-neutral-700 dark:text-neutral-200 hover:text-black dark:hover:text-white" type="button">menu</button>

    <h1 class="lg:text-xl dark:text-white font-semibold">{{ heading }}</h1>
    
    <!-- DARKMODE BUTTON -->
    <label for="darkmode-switch" class="relative h-6 w-6 select-none darkmode-container">
      <span class="sr-only">Přepínač tmavého režimu</span>
      <span class="text-white dark:text-black">.</span>
      <input id="darkmode-switch" type="checkbox">
      <!-- ICONS -->
      <span class="material-icons-round absolute top-0 right-0 text-neutral-200 hover:text-white transition-[opacity, transform] duration-500 opacity-0 dark:opacity-100 translate-y-4 dark:translate-y-0">dark_mode</span>
      <span class="material-icons-round absolute top-0 right-0 text-neutral-700 hover:text-black transition-[opacity, transform] duration-500 dark:opacity-0 translate-y-0 dark:-translate-y-8">light_mode</span>
    </label>

  </div>
</header>