---
title: 'Nabíjecí data'
description: 'Nabíjecí data z vaší nabíjecí stanice'
heading: 'Nabíjecí data'
permalink: 'nabijeci-data/'
eleventyNavigation:
  key: Nabíjecí data
  order: 2
  icon: bar_chart
---

{% extends "layouts/base.html" %}

{% block head %}
<script defer src="/assets/js/papaparse.min.js"></script>
<script defer src="/assets/js/sortable.min.js"></script>
{% endblock head %}

{% block body %}

<!-- MAIN -->
<section class="px-4 sm:px-8 py-16">
  <div class="flex flex-col gap-4">
    <!-- SEARCH + DOWNLOAD -->
    <div class="flex justify-between items-center">
      <!-- SEARCH INPUT -->
      <div
        class="relative flex items-center gap-3 w-full max-w-xs pl-3 py-1 bg-neutral-100 dark:bg-neutral-700 border border-neutral-200 dark:border-neutral-600 rounded-xl">
        <!-- ICON -->
        <span class="material-icons-round text-neutral-400" aria-hidden="true">search</span>
        <input id="table-search" type="search" placeholder="Hledat v tabulce" class="flex-1 pl-0 bg-transparent text-sm text-neutral-700 dark:text-neutral-200 placeholder:text-neutral-400
        border-none outline-none focus:outline-none focus:ring-0">
      </div>

      <a class="p-2 bg-primary font-barlow text-white font-medium rounded-lg" href="/data/charging_data.csv"
        download>
        Stáhnout data
      </a>
    </div>

    <!-- TABLE + DOWNLOAD -->
    <div class="flex flex-col gap-4">
      <div class="w-[calc(100vw-2rem)] sm:w-[calc(100vw-4rem)] lg:max-w-[calc(100vw-22rem)] max-w-full p-4 bg-neutral-100 dark:bg-neutral-700
      border border-neutral-200 dark:border-neutral-600 rounded-xl overflow-x-auto">

        <!-- CHARGING DATA TABLE -->
        <table id="charging-data" class="sortable w-full">
          <thead id="charging-head">
            <tr class="*:py-2 *:px-4 *:text-sm *:text-left *:font-medium *:dark:text-white *:whitespace-nowrap *:hover:cursor-pointer
            [&>*:not(:first-child)]:border-l *:border-neutral-300 *:dark:border-neutral-500">
              <!-- RECORD ID -->
              <th scope="col" class="group" aria-sort="descending">
                <div class="inline-flex items-center">
                  <span>#</span>
                  <span
                    class="material-icons-round text-neutral-700 dark:text-neutral-200 transition-[transform, opacity] duration-300
                  group-aria-desc:rotate-180 group-aria-asc:text-primary group-aria-desc:text-primary group-aria-sort-none:opacity-0"
                    aria-hidden="true">arrow_drop_up</span>
                </div>
              </th>
              <!-- CONTROLLER ID -->
              <th scope="col" class="group">
                <div class="inline-flex items-center">
                  <span>ID stanice</span>
                  <span
                    class="material-icons-round text-neutral-700 dark:text-neutral-200 transition-[transform, opacity] duration-300 opacity-0
                  group-aria-asc:opacity-100 group-aria-desc:opacity-100 group-aria-desc:rotate-180 group-aria-asc:text-primary group-aria-desc:text-primary"
                    aria-hidden="true">arrow_drop_up</span>
                </div>
              </th>
              <!-- CHARGING POINT NAME -->
              <th scope="col" class="group">
                <div class="inline-flex items-center">
                  <span>Název nabíjecího bodu</span>
                  <span
                    class="material-icons-round text-neutral-700 dark:text-neutral-200 transition-[transform, opacity] duration-300 opacity-0
                  group-aria-asc:opacity-100 group-aria-desc:opacity-100 group-aria-desc:rotate-180 group-aria-asc:text-primary group-aria-desc:text-primary"
                    aria-hidden="true">arrow_drop_up</span>
                </div>
              </th>
              <!-- START TIMESTAMP -->
              <th scope="col" class="group">
                <div class="inline-flex items-center">
                  <span>Začátek nabíjení</span>
                  <span
                    class="material-icons-round text-neutral-700 dark:text-neutral-200 transition-[transform, opacity] duration-300 opacity-0
                  group-aria-asc:opacity-100 group-aria-desc:opacity-100 group-aria-desc:rotate-180 group-aria-asc:text-primary group-aria-desc:text-primary"
                    aria-hidden="true">arrow_drop_up</span>
                </div>
              </th>
              <!-- END TIMESTAMP -->
              <th scope="col" class="group">
                <div class="inline-flex items-center">
                  <span>Konec nabíjení</span>
                  <span
                    class="material-icons-round text-neutral-700 dark:text-neutral-200 transition-[transform, opacity] duration-300 opacity-0
                  group-aria-asc:opacity-100 group-aria-desc:opacity-100 group-aria-desc:rotate-180 group-aria-asc:text-primary group-aria-desc:text-primary"
                    aria-hidden="true">arrow_drop_up</span>
                </div>
              </th>
              <!-- DURATION -->
              <th scope="col" class="group">
                <div class="inline-flex items-center">
                  <span>Čas nabíjení</span>
                  <span
                    class="material-icons-round text-neutral-700 dark:text-neutral-200 transition-[transform, opacity] duration-300 opacity-0
                  group-aria-asc:opacity-100 group-aria-desc:opacity-100 group-aria-desc:rotate-180 group-aria-asc:text-primary group-aria-desc:text-primary"
                    aria-hidden="true">arrow_drop_up</span>
                </div>
              </th>
              <!-- RFID -->
              <th scope="col" class="group">
                <div class="inline-flex items-center">
                  <span>RFID</span>
                  <span
                    class="material-icons-round text-neutral-700 dark:text-neutral-200 transition-[transform, opacity] duration-300 opacity-0
                  group-aria-asc:opacity-100 group-aria-desc:opacity-100 group-aria-desc:rotate-180 group-aria-asc:text-primary group-aria-desc:text-primary"
                    aria-hidden="true">arrow_drop_up</span>
                </div>
              </th>
              <!-- CONSUMPTION -->
              <th scope="col" class="group">
                <div class="inline-flex items-center">
                  <span>Spotřeba (Wh)</span>
                  <span
                    class="material-icons-round text-neutral-700 dark:text-neutral-200 transition-[transform, opacity] duration-300 opacity-0
                  group-aria-asc:opacity-100 group-aria-desc:opacity-100 group-aria-desc:rotate-180 group-aria-asc:text-primary group-aria-desc:text-primary"
                    aria-hidden="true">arrow_drop_up</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody id="charging-data-body" class="*:border-t *:border-neutral-300 *:dark:border-neutral-500">
            <!-- EMPTY TABLE ROW -->
            <tr id="empty-charging-row" class="hidden *:py-2 *:px-4 hover:bg-neutral-200 dark:hover:bg-neutral-600 *:whitespace-nowrap
            [&>*:not(:first-child)]:border-l *:border-neutral-300 *:dark:border-neutral-500">
              <td class="flex items-center gap-2">
                <span class="record-id font-barlow text-black dark:text-white"></span>
                <!-- CHARGING ICON -->
                <span class="charging-icon opacity-0 relative h-2.5 w-2.5 z-10">
                  <span class="absolute h-full w-full bg-blue-400/75 rounded-full animate-ping -z-10"></span>
                  <span class="block h-2.5 w-2.5 bg-blue-500 rounded-full z-10"></span>
                </span>
              </td>
              <td class="device-uid font-barlow text-neutral-700 dark:text-neutral-200"></td>
              <td class="charging-point-name font-barlow text-neutral-700 dark:text-neutral-200"></td>
              <td class="start-timestamp font-barlow text-neutral-700 dark:text-neutral-200"></td>
              <td class="end-timestamp font-barlow text-neutral-700 dark:text-neutral-200"></td>
              <td class="duration font-barlow text-neutral-700 dark:text-neutral-200"></td>
              <td class="rfid-tag font-barlow text-neutral-700 dark:text-neutral-200"></td>
              <td class="consumption font-barlow text-neutral-700 dark:text-neutral-200"></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</section>

{% endblock body %}

{% block javascript %}
<script type="module" src="/assets/js/pages/charging-data.js"></script>
{% endblock javascript %}